[submodule "Code"]
	path = Code
	url = https://github.com/hbschlang/Java-Didaktik-Beispiele.git
[submodule ".scripts/nodejs"]
	path = .scripts/nodejs
	url = git@github.com:bschlangaul-sammlung/werkzeug.git
